{{ define "main" }}
<div class="p-2">
  <form action="get" id="site_search">
    <label for="search_box">Search</label>
    <input type="text" id="search_box" name="query">
    <input type="submit" value="search">
  </form>

  <ul id="search_results" class="list-unstyled"></ul>
</div>
{{ end }}

{{ define "custom-javascript" }}
    <script src="{{ "js/lunr-0.7.1.min.js" | relURL }}"></script>
    <script src="{{ "js/search-lunr-0.7.1.js" | relURL }}"></script>
{{ end }}
