{{ define "main" }}
<main role="main" class="container-fluid
            bg-light rounded border border-dark shadow-hover">
  <header>
    <h4>{{ .Title | default .Site.Title }}</h4>
  </header>

  <article>
    {{ .Content }}
  </article>
</main>
{{ end }}
