{{ define "main" }}
  <main role="main" class="container-fluid">
      <div class="jumbotron">
        <div class="container bg-light text-dark">
    <section>
      <h2 class="cover-heading">{{ .Title | default .Site.Title }}</h2>
    </section>

    <article>
      {{ .Content }}
    </article>
        </div>
      </div>
  </main>
{{ end }}
