
<footer class="footer bg-transparent">
  <div class="container
              text-center bg-dark text-light maxwidth shadow-hover
              rounded-top border border-bottom-0 border-light">
    <span>&copy; {{ now.Year }}.</span>
  </div>
</footer>
