
    <header class="rounded shadow border p-2 mb-4"> 
      <h2 itemprop="name headline">
          <a class="text-dark" href="{{ .Permalink }}"
          >{{ .Page.Title }}</a></h2>

      <div class="clearfix"></div>
      <div class="container-fluid">
        {{ if .Params.author }}
        <span class="badge badge-primary mr-2">
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ .Params.author }}</span></span>
        </span>
        {{ end }}  
        <div class="float-left">
            <span class="badge badge-secondary mr-2">
            {{ partial "post-time-elapsed.html" . }}
            </span>
        </div>
        <div class="float-right mr-2">
          {{ range .Params.tags }}
            <a href="{{ printf "tags/%s" . | absURL }}">
              <span class="badge badge-dark">{{ . }}</span></a>
          {{ end }}
        </div>
        <div class="float-right mr-2">
          {{ range .Params.categories }}
            <a href="{{ printf "categories/%s" . | absURL }}">
              <span class="badge badge-info">{{ . }}</span></a>
          {{ end }}
          &nbsp;
        </div>
      </div>
    </header>

