<head>
    {{ partial "meta-html.html" . }}

  {{/* NOTE: the Site's title, and if there is a page title, that is set too */}}
    <title>{{ .Page.Title | default .Site.Title }}</title>

  {{/*  Bootstrap CSS */}}
    <link rel="stylesheet" type="text/css" href="{{ "css/bootstrap.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/prism.css" | relURL }}">
    {{ block "custom-stylesheet" . }}{{ end }}

  {{/* javascript */}}

  {{/* miscellanous */}}
    <link href="{{ "favicon.ico" | relURL }}" rel="shortcut icon" type="image/x-icon" />

    {{ partial "meta-seo.html" . }}
    {{ partial "meta-opengraph.html" . }}
    {{ partial "meta-twitter.html" . }}

  {{/* unused */}}
</head>
