.layout-base {
  padding-top: 70px;
}

.navbar-brand img {
  width: 48px;
  height: 48px;
  margin-top:    -10px;
  margin-bottom: -10px;
}

.cover-heading,
.blog-post-title {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

