// -- -- -- -- --
// _list.scss

.archive-list {
  position: relative;
}

.archive-list a:before {
  position: absolute;
  left: -15px;
  content: "\00BB";
  color: $dark;
}

.archive-list:hover {
  background-color: $yellow;
}
