// -- -- -- -- --
// _list.scss

div.archive-list {
  position: relative;
}

div.archive-list a:before {
  position: absolute;
  left: -15px;
  content: "\00BB";
  color: $dark;
}

div.archive-list:hover {
  background-color: lighten($yellow, 10%);
}

ul.archive-list,
ul.archive-list ul, {
  position: relative;
  list-style: none;
}

ul.archive-list li:before {
  position: relative;
  left: -15px;
  content: "\00BB";
  color: $dark;
}

ul.archive-list li:hover {
  background-color: lighten($yellow, 10%);
}

ul.archive-list li li:hover {
  background-color: lighten($yellow, 30%);
}

