
  <div class ="anchor-target archive-year" 
       id="{{ .Key }}">{{ .Key }}</div>

  <div class="pl-3">
    {{ range .Pages }}
    <div class="d-flex flex-row-reverse archive-list">
      <div class="text-right text-nowrap"><time>
          {{ .Date.Format "02 Jan" }}&nbsp;</time></div>
      <div class="mr-auto"><a href="{{ .URL | absURL }}">
        {{ .Title }}
      </a></div>
    </div>
    {{ end }}
  </div>
