{{ define "main" }}
<main role="main" class="container-fluid bg-light">
  <header>
    <h4>{{ .Section }}</h4>
  </header>

  {{ .Content }}
  
  <ul>
    {{ range .Data.Pages }}
    <li>
      <a href="{{ .URL }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
